<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Record Coasters</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
            <form class="ms-auto" action="/logout" class="d-flex" role="search">
                <button class="btn btn-outline-success" type="submit">Log Out</button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid w-50 vh-100">
    <div style="height: 66px;">
        {{#if message}}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: absolute;">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
    </div>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-coasters-tab" data-bs-toggle="tab" data-bs-target="#nav-coasters"
                type="button" role="tab" aria-controls="nav-coasters" aria-selected="true">Coasters</button>
            <button class="nav-link" id="nav-frames-tab" data-bs-toggle="tab" data-bs-target="#nav-frames" type="button"
                role="tab" aria-controls="nav-profile" aria-selected="false">LP Frames</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane show active" id="nav-coasters" role="tabpanel" aria-labelledby="nav-coasters-tab">
            <form class="form-inline" action="/search-coasters" method="post">
                <input type="text" class="form-control mt-5 mb-2" id="searchBox" placeholder="Search for coasters" name="searchTerm" required> 
                <button type="submit" class="btn btn-primary">Search Coasters</button>
            </form>
        </div>
        <div class="tab-pane" id="nav-frames" role="tabpanel" aria-labelledby="nav-frames-tab">
            <form class="form-inline" action="/search-frames" method="post">
                <input type="text" class="form-control mt-5 mb-2" id="searchBox" placeholder="Search for frames" name="searchTerm" required>
                <button type="submit" class="btn btn-primary">Search Frames</button>
            </form>
        </div>
    </div>
</div>